[Unit]
Description=CatroPi Service Script

After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/catropi.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
